{% extends 'base.html' %}

{% block content %}
<h1>Booked Sessions</h1>

<p class="btn--wrapper">
  <a class="btn btn--action" href="/bookings/new">Make Another Booking</a>
</p>

<ul>
  {% for booking in bookings %}
  <li>
  <p>{{ booking.member.name }} - {{ booking.gym_session.description }} </p>
    <p>
      <form action="/bookings/{{ booking.id }}/delete" method="POST">
        <input class="btn btn--danger" type="submit" value="delete" />
      </form>
    </p>
  </li>
  {% endfor %}
</ul>


{% endblock %}