body {
    background-image: url('/static/images/gym_image1.jpeg');
    height: 100vh;
    background-size:auto;
    background-repeat: no-repeat;
    color: #100b08;
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
    padding: 0px;
    margin: 20px;
}

ul {
    list-style-type: none;
    margin: -20;
    padding: 0;
    overflow: hidden;
}

li {
    display: inline;
}

section {
    display: ;
}


  a:link, a:visited {
    background-color: white;
    color: black;
    border: 2px solid green;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
  }
  
  a:hover, a:active {
    background-color: green;
    color: white;
  }

button {
    transition-duration: 0.4s;
    background-color: #4CAF50; 
    color: white;
}

.btn {
    transition-duration: 0.4s;
    background-color: #4CAF50; 
    color: white;
    
}